<!DOCTYPE html>
<html>
<head>
<title>Forgot Password</title>
</head>
<body>
	<h1>Forgot Password</h1>
	<form action="/forgot-password" method="post">
		<label for="emailOrPhone">Email or Phone Number:</label> <input
			type="text" id="emailOrPhone" name="emailOrPhone" required> <br>
		<label for="isEmail">Is Email:</label> <input type="checkbox"
			id="isEmail" name="isEmail"> <br>
		<button type="submit">Reset Password</button>
	</form>
	<a href="login">back</a>
	<p th:if="${error}" th:text="${error}"></p>
    <p th:if="${message}" th:text="${message}"></p>
</body>
</html>
